/* * {
  box-sizing: border-box;
} */

:root {
  --sidenav--width: 70px;
  --search-bg-color: #fafafc;
  --nav-border-color: #ecebf5;
  --sideNav-hover-color: #6837ef;
  --primary-color: #696d8c;
  --text-black: #060213;
  --green-bg: #25BB87;
  --google-grey : #E1E1EB;

  --xx-small-font: 9px;
  --x-small-font: 10px;
  --medium-font: 12px;
  --large-font: 14px;
  --x-large-font: 16px;
  --xx-large-font: 18px;
}

html,
body {
  padding: 0;
  margin: 0;
}
